root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2
root = true

# C# files
[*.cs]

dotnet_diagnostic.IDE0028.severity = none

csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:silent


# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
